<!DOCTYPE HTML>
<html>
<head>
    <title>Super stronka</title>
	<script src="../javascripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		if (<%= isFavourite %>) {
			$('#removeFromFavourites').show();
		}
		else {
			$('#setAsFavourite').show();
		}
	});
	
	function setFavourite(isFavourite) {
		$.ajax({type:'POST', url: '/setFavourite', data: {isFavourite: isFavourite, photoId: '<%= photoId %>'}}).done(function() {
			$('#removeFromFavourites').toggle();
			$('#setAsFavourite').toggle();
		});
	}
</script>
</head>
<body>
<button id="setAsFavourite" style="display:none;" onclick="setFavourite(true)" >dodaj do ulubionych</button>
<button id ="removeFromFavourites" style="display:none;" onclick="setFavourite(false)" >usuń z ulubionych</button>
<br />
<img src="data:image/jpeg;base64,<%= imageContent %>" />
</body>
</html>


