<!DOCTYPE HTML>
<html>
<head>
    <title>Super stronka</title>
	
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	
	
	<script src="../javascripts/jquery-1.11.1.min.js"></script>
    <script src="../javascripts/socket.io.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		io = io.connect();
		if (<%= isFavourite %>) {
			$('#removeFromFavourites').show();
		}
		else {
			$('#setAsFavourite').show();
		}
	});
	
	function setFavourite(isFavourite) {
		$.ajax({type:'POST', url: '/setFavourite', data: {isFavourite: isFavourite, photoId: '<%= photoId %>'}}).done(function() {
			$('#removeFromFavourites').toggle();
			$('#setAsFavourite').toggle();
			io.emit('change favourite')
			
		});
	}
</script>

</head>
<body>
<center>
<button id="setAsFavourite" style="display:none;" onclick="setFavourite(true)" >dodaj do ulubionych</button>
<button id ="removeFromFavourites" style="display:none;" onclick="setFavourite(false)" >usuń z ulubionych</button>
<br /><br>
<img src="data:image/jpeg;base64,<%= imageContent %>" />

</center>
</body>
</html>


